.site-list-item {
  position: relative;
  padding: 8px;
  overflow: hidden;
  // min-width: 40px;
  &:hover {
    background-color: rgba(0,0,0,0.1);
    border-radius: 8px;
    cursor: pointer;
  }
  .site-avatar {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    padding: 8px;
    background-color: rgba(245,245,245,.4);
    border-radius: 50%;
    overflow: hidden;
  }
  .site-title .ant-typography{
    color: #fff;
  }
}
.site-list-component {
  min-width: 960px;
  .ant-spin-container .ant-row {
    justify-content: center;
  }
}